USE [master]
GO
/****** Object:  Database [Project_ADM]    Script Date: 5/13/2024 11:09:49 AM ******/
CREATE DATABASE [Project_ADM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_ADM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Project_ADM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_ADM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Project_ADM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_ADM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_ADM]
GO
/****** Object:  Table [dbo].[Functional_Rejects]    Script Date: 5/13/2024 11:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functional_Rejects](
	[RejectDate] [datetime] NULL,
	[RejectPackageAndTask] [nvarchar](205) NULL,
	[RejectColumn] [nvarchar](max) NULL,
	[RejectDescription] [nvarchar](max) NULL,
	[Number_of_cases] [numeric](20, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicals_Rejects]    Script Date: 5/13/2024 11:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicals_Rejects](
	[RejectDate] [datetime] NULL,
	[RejectPackageAndTask] [nvarchar](255) NULL,
	[RejectColumn] [nvarchar](50) NULL,
	[RejectDescription] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
